Repository openshift/security-profiles-operator, pull requests merged in 2023-12, with the labels that each got.

#41 Isolate OpenShift maintainer commits from main branch
  OWNERS
Labels: approved

#43 Add an option to specific what selinuxd image to use during e2e test
  test/suite_test.go
Labels: lgtm, kind/failing-test, approved

#44 Fix e2e tc_log_enricher_test
  test/tc_log_enricher_test.go
Labels: kind/failing-test, approved

#45 Revert "Back to dev"
  VERSION
  bundle/manifests/security-profiles-operator.clusterserviceversion.yaml
  dependencies.yaml
  deploy/catalog-preamble.json
  deploy/helm/Chart.yaml
  deploy/kustomize-deployment/kustomization.yaml
  deploy/namespace-operator.yaml
  deploy/openshift-dev.yaml
  deploy/openshift-downstream.yaml
  deploy/operator.yaml
  deploy/webhook-operator.yaml
  examples/olm/install-resources.yaml
  hack/ci/e2e-olm.sh
  hack/deploy-localhost.patch
  nix/derivation-bpf.nix
  nix/derivation.nix
  release.md
  test/e2e_test.go
Labels: kind/bug, lgtm, approved
